<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <title>VERB - Visualization of Embedding Representations for deBiasing</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link href="https://unpkg.com/intro.js/minified/introjs.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>

<body>

<div class="container-fluid h-100 p-3">
    <div class="row h-100">
        <div id="control-panel" class="col-5 border-right">
            <h4 class="text-center bg-dark text-light p-3 rounded">VERB</h4>


            <div id="input-two-col" class="input-group w-100 vert-space">
                <div class="input-group-prepend w-25">
                    <input type="text" class="w-100 input-group-text" id="wordlist-label" value="Wordlist"/>
                </div>
                <input id="wordlist" class="form-control input-group-text" type="text" placeholder="Provide wordlist...">
            </div>

            <h4 class="text-center">Select embeddings to diff</h4>

            <div id="emb-dropdowns" class="d-flex">
                <div id="emb1" class="dropdown vert-space d-inline w-50" style="padding-right: 0.3em;">
                    <button class="w-100 btn dropdown-toggle borders text-light" type="button" id="emb1-button" data-toggle="dropdown" style="background-color: #1b9e77">
                        Select embedding 1
                    </button>
                    <div id="emb1-items" class="dropdown-menu w-100">
                        <a class="dropdown-item">Base</a>
                        <a class="dropdown-item">Debiased</a>
                        <a class="dropdown-item">Common crawl</a>
                    </div>
                </div>

                <div id="emb2" class="dropdown vert-space d-inline w-50">
                    <button class="w-100 btn dropdown-toggle borders bg-dark-red text-light" type="button" id="emb2-button" data-toggle="dropdown" style="background-color: #d95f02">
                        Select embedding 2
                    </button>
                    <div id="emb2-items" class="dropdown-menu w-100">
                        <a class="dropdown-item">Base</a>
                        <a class="dropdown-item">Debiased</a>
                        <a class="dropdown-item">Common crawl</a>
                    </div>
                </div>
            </div>

            <button id="run-button" class="btn btn-outline-primary w-100 vert-space">Run</button>

            <div id="toolbar" class="mt-3 p-3 vert-space border rounded">
                <table class="w-100">
                    <tbody>
                    <tr>
                        <td>
                            <span id='toggle-emb1' class="custom-switch custom-control toggles">
                                <input type="checkbox" id="emb1-chk" class="custom-control-input" checked>
                                <label for="emb1-chk" class="custom-control-label">Show embedding 1</label>
                            </span>
                        </td>
                        <td>
                            <span id='toggle-emb2' class="custom-switch custom-control toggles">
                                <input type="checkbox" id="emb2-chk" class="custom-control-input" checked>
                                <label for="emb2-chk" class="custom-control-label">Show embedding 2</label>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div id="visualization-panel" class="col-7">
            <div id="scatter-holder" style="width: 100%; height: 100%">
                <?xml version="1.0" encoding="UTF-8" standalone="no" ?>
                <svg id="animation-svg"></svg>
            </div>
        </div>
    </div>
</div>

<div class="overlay h-100 w-100 justify-content-center align-items-center">
    <div id="spinner-holder" class="mt-3 text-center" style="display:none">
        <div id="spinner" class="spinner-border text-light">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

</body>

<script src="../static/javascript/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="https://unpkg.com/intro.js/minified/intro.min.js"></script>
<script src="../static/javascript/d3.v5.min.js"></script>
<script src="../static/javascript/alignment.js"></script>
<script src="../static/javascript/labeler.js"></script>
</html>