<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <title>VERB - Visualization of Embedding Representations for deBiasing</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>

<body>

<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="position:absolute;">-->
<!--    <h1 class="navbar-brand">VERB - Visualization of Embedding Representations for deBiasing</h1>-->
<!--</nav>-->

<div class="container-fluid h-100 p-3">
    <div class="row h-100">
        <div id="control-panel" class="col-5 border-right">
            <h4 class="text-center bg-dark text-light p-3 rounded">VERB</h4>

            <div id="algo-subspace" class="d-flex">
                <div id="algorithm-selection" class="dropdown vert-space d-inline w-50" style="padding-right: 0.3em;">
                    <button class="w-100 btn dropdown-toggle borders bg-dark-red text-light" type="button" id="algorithm-selection-button"
                            data-toggle="dropdown">
                        Select Algorithm
                    </button>
                    <div id="algorithm-dropdown" class="dropdown-menu w-100">
                        <h6 class="dropdown-header">Select Algorithm</h6>
                        <a class="dropdown-item active">Linear projection</a>
                        <a class="dropdown-item">Hard debiasing</a>
                        <a class="dropdown-item">OSCaR</a>
                        <a class="dropdown-item">Iterative Null Space Projection</a>
                    </div>
                </div>

                <div id="subspace-dropdown" class="dropdown vert-space d-inline w-50">
                    <button class="w-100 btn dropdown-toggle borders bg-dark-red text-light" type="button" id="subspace-selection-button"
                            data-toggle="dropdown">
                        Select subspace method
                    </button>
                    <div id="subspace-dropdown-items" class="w-100 dropdown-menu">
                        <h6 class="dropdown-header">Select subspace method</h6>
                        <a class="dropdown-item active">Two means</a>
                        <a class="dropdown-item">PCA</a>
                        <a class="dropdown-item">PCA-paired</a>
                        <a class="dropdown-item">Classification</a>
                        <a class="dropdown-item">GSS</a>
                    </div>
                </div>
            </div>

            <div id="preloaded-examples" class="dropdown vert-space">
                <button class="w-100 btn dropdown-toggle borders bg-dark-red text-light" type="button" id="example-selection-button"
                        data-toggle="dropdown">
                    Choose an example or provide seedword sets below
                </button>
                <div id="example-dropdown" class="dropdown-menu w-100"></div>
            </div>

            <div id="input-two-col" class="input-group w-100 vert-space">
                <div class="input-group-prepend w-25">
                    <input type="text" class="w-100 input-group-text" id="concept-label-1" value="Concept1"/>
                </div>
                <input id="seedword-text-1" class="form-control input-group-text" type="text" placeholder="Add word set...">
                <input id="seedword-text-2" class="form-control input-group-text" type="text" placeholder="Add word set...">
            </div>

            <div id="subspace-dropdown-oscar" class="dropdown vert-space" hidden>
                <button class="w-100 btn dropdown-toggle borders bg-dark-red text-light" type="button" id="subspace-selection-button-oscar"
                        data-toggle="dropdown">
                    Select secondary subspace method
                </button>
                <div id="subspace-dropdown-oscar-items" class="w-100 dropdown-menu">
                    <h6 class="dropdown-header">Select secondary subspace method</h6>
                    <a class="dropdown-item active">Two means</a>
                    <a class="dropdown-item">PCA</a>
                    <a class="dropdown-item">PCA-paired</a>
                    <a class="dropdown-item">Classification</a>
                    <a class="dropdown-item">GSS</a>
                </div>
            </div>

            <div id="input-two-col-oscar" class="input-group vert-space">
                <div class="input-group-prepend w-25">
                    <!--                    <span class="input-group-text" id="concept-label-2" contenteditable="true">Concept2</span>-->
                    <input type="text" class="w-100 input-group-text" id="concept-label-2" value="Concept2"/>
                </div>
                <input id="oscar-seedword-text-1" class="form-control input-group-text" type="text" placeholder="Add word set...">
                <input id="oscar-seedword-text-2" class="form-control input-group-text" type="text" placeholder="Add seed set 2..." hidden>
            </div>

            <div id="equalize-holder" class="input-group vert-space" style="display: None">
                <div class="input-group-prepend w-25">
                    <span class="input-group-text w-100 justify-content-center" id="equalize-label">Equalize set</span>
                </div>
                <input id="equalize-list" class="form-control input-group-text" type="text" placeholder="Add equalize set for Hard Debiasing...">
            </div>

            <div id="eval-and-run" class="input-group vert-space">
                <div class="input-group-prepend w-25">
                    <span class="input-group-text w-100 justify-content-center" id="eval-label">Evaluation set</span>
                </div>
                <input id="evaluation-list" class="form-control input-group-text" type="text" placeholder="Add word set...">
            </div>

            <button id="seedword-form-submit" class="btn btn-outline-primary w-100 vert-space">Run</button>

            <div class="d-flex btn-group">
                <button id="freeze-embedding" class="btn btn-outline-primary w-50 vert-space" hidden>
                    Update debiased embedding as base embedding
                </button>

                <button id="unfreeze-embedding" class="btn btn-outline-primary w-50 vert-space" disabled hidden>Reset embedding</button>
            </div>

            <div id="animation-controls" class="row vert-space justify-content-center">
                <div class="btn-group">
                    <button id='play-control-fb' class="btn btn-success" title="Go to the start of animation">
                        <i class="fa fa-fast-backward"></i>
                    </button>
                    <span class="btn-separator"></span>
                    <button id='play-control-sb' class="btn btn-success" title="Step backward">
                        <i class="fa fa-step-backward"></i>
                    </button>
                    <span class="btn-separator"></span>
                    {#
                    <button id='play-control-play' class="btn btn-success" title="Play animation">#}
                        {# <i class="fa fa-play"></i>#}
                        {#
                    </button>
                    #}
                    {# <span class="btn-separator"></span>#}
                    <button id='play-control-sf' class="btn btn-success" title="Step forward">
                        <i class="fa fa-step-forward"></i>
                    </button>
                    <span class="btn-separator"></span>
                    <button id='play-control-ff' class="btn btn-success" title="Go to the end of animation">
                        <i class="fa fa-fast-forward"></i>
                    </button>
                </div>
            </div>

            <div id="weat-score" class="row center-block" hidden>
                <h5 id="weat-predebiased" style="margin: auto"></h5>
                <h5 id="weat-postdebiased" style="margin: auto"></h5>
            </div>

            <div id="toolbar" class="mt-3 p-3 vert-space border rounded">
                <table class="w-100">
                    <tbody>
                    <tr>
                        <td>
                            <span id='toggle-labels-btn' class="custom-switch custom-control toggles" disabled>
                                <input type="checkbox" id="data-label-chk" class="custom-control-input" checked>
                                <label for="data-label-chk" class="custom-control-label">Show data labels</label>
                            </span>
                        </td>
                        <td>
                            <span id='remove-points-btn' class="custom-switch custom-control toggles" disabled>
                                <input type="checkbox" id="remove-points-chk" class="custom-control-input">
                                <label for="remove-points-chk" class="custom-control-label">Remove points</label>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span id='toggle-mean-btn' class="custom-switch custom-control toggles" disabled>
                                <input type="checkbox" id="toggle-mean-chk" class="custom-control-input" checked>
                                <label for="toggle-mean-chk" class="custom-control-label">Show concept directions</label>
                            </span>
                        </td>
                        <td>
                            <span id='toggle-eval-btn' class="custom-switch custom-control toggles" disabled>
                                <input type="checkbox" id="toggle-eval-chk" class="custom-control-input" checked>
                                <label for="toggle-eval-chk" class="custom-control-label">Show evaluation points</label>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
<!--                            <button id="toggle-scrshot-chk">Screenshot mode</button>-->
                            <span id='toggle-scrshot-btn' class="custom-switch custom-control toggles" disabled>
                                <input type="checkbox" id="toggle-scrshot-chk" class="custom-control-input">
                                <label for="toggle-scrshot-chk" class="custom-control-label">Screenshot mode</label>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div id="explanation" class="vert-space">
                <h5> Explanation </h5>
                <div id="explanation-text" class="explanation-text text-slightly-muted"></div>
            </div>

            <hr/>

            <div id="export-import" class="vert-space">
                <a href="/export">
                    <button id="export-btn" class="btn btn-outline-primary" title="Export the debiased embedding as a CSV file">Export as CSV</button>
                </a>
                <form method="POST" enctype="multipart/form-data" action="/import">
                    <button id="import-btn" class="btn btn-outline-primary" title="Import word embedding from a CSV file" hidden>Import CSV</button>
                    <input id="import-input" type="file" hidden>
                </form>
            </div>

            <div id="weat-container" class="vert-space">
                <button id="weat-btn" class="btn btn-outline-primary" title="Export the debiased embedding as a CSV file">Compute WEAT</button>
                <span id="weat-display" class="pl-3"></span>
            </div>

            <hr/>

            <div id="knn" class="vert-space" hidden>
                <div id="base-neighbors">
                    <div>Base neighbors</div>
                </div>
                <div id="debiased-neighbors">
                    <div>Debiased neighbors</div>
                </div>
            </div>

            <div id="initial-debiased-holder" class="row m-3" style="height: 50vh !important;" hidden>
                <div class="col-md-6" align="center">
                    <h5 id="initial-embedding-title" class="text-center">Initial Embedding</h5>
                    <svg id="pre-debiased-svg" width="100%" height="100%"></svg>
                </div>
                <div class="col-md-6">
                    <h5 id="debiased-embedding-title" class="text-center">Debiased Embedding</h5>
                    <svg id="post-debiased-svg" width="100%" height="100%"></svg>
                </div>
            </div>
        </div>

        <div id="visualization-panel" class="col-7">
            <div id="scatter-holder" style="width: 100%; height: 100%">
                <?xml version="1.0" encoding="UTF-8" standalone="no" ?>
                <svg id="animation-svg">
                    <defs>
                        <marker id="arrow" viewBox="0 0 10 10" refX="5" refY="5" markerWidth="6" markerHeight="6" orient="auto-start-reverse">
                            <path d="M 0 0 L 10 5 L 0 10 z"></path>
                        </marker>
                    </defs>
                </svg>
            </div>
        </div>
    </div>
</div>

<div class="overlay h-100 w-100 justify-content-center align-items-center">
    <div id="spinner-holder" class="mt-3 text-center" style="display:none">
        <div id="spinner" class="spinner-border text-light">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

</body>

<script src="../static/javascript/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="../static/javascript/d3.v5.min.js"></script>
<script src="../static/javascript/interface.js"></script>
<script src="../static/javascript/labeler.js"></script>
<script>
  $(document).ready(function () {
    $.ajax({
      'url': '/unfreeze'
    })
  })
</script>
</html>